@{
    ViewData["Title"] = "XRM360 Education";
}

<h1>XRM360 Education</h1>
<p>We guide international students through the entire journey—from application preparation to arriving on campus in the U.S. Stay tuned for more information!</p>
